TheraPigeon website/brouchure to inform people what we do
One page
Intro/Menu section
    menu with Scroll To functionality

About section
    Why we do it 
    Who we are
Projects section
    list projects
Survey for future Projects
    item 1/2/3/write in/ submit btn
Contact us  
    3rd party form (Formspree)
Footer
    Social links/Share us btn
    Privacy/Term of Use
    copyright symbol
    donate?
    blog/news?


Donate

///SATURDAY///
Contact / Survey - (at least basic) - optional
Sign Up form style + hook up backend(formspree) - 1.5hrs
Add responsiveness -2hrs
Social accounts(create + link) -1hr
Overall style (Fonts/size/boxshadow/backgrounds)

Survey form
    html/css/js(setup Formspree)    
    Content for Survey Area - a few given suggestions(research apps)
Contact form    
    html/css/js(setup Formspree)

    


    /////Content Writing/////
    Our Story:
    TheraPigeon was founded in 2020 by web developer Alexander Plotnikov and former RBT Zaccary Crumpton. During Zac's transition out of ABA and into programming, he identified common struggles related to the new telehealth sessions being conducted during COVID-19. Working together, the two cofounders built a digital token board to be utilized by clinicians and parents who could no longer deliver in-clinic or even in-home treatment. In the process of building that first app, their minds turned to other barriers that impact ABA practicioners in every context. TheraPigeon continues to develop web applications for ABA.

    Our Mission: At TheraPigeon, we strive every day to make delivering excellent ABA therapy as easy as possible. Founded during the COVID-19 pandemic, our first project was to make a better token board solution for use in telehealth. Our goal is to remove the barriers to success, so clinicians can focus on what they do best, ABA! We are currently in the process of building a digital tool suite to smooth out your daily tasks, from admin work to running your programs.

    Token Board:
    No velcro required! The TheraPigeon TokenBoard is a free digital token economy with customizable tokens and reward animations. Since it runs on the web, just send your clinician or learner parent a link to the site and they'll have instant access to a token board. This solution is ideal for telehealth, just share your screen with the client and they'll be able to see how close they are to earning their choice! TokenBoard also comes with timers for activties, a duration timer, and an interval timer for delivery of non-contingent reinforcement. No need to carry everything on your person, we've put it right onto your computer or mobile device for instant access. Timers are minimizable to limit the amount of stimuli present on the screen.

    Note Generator:
    NoteGenerator is a dynamic session note generator built in the browser. Creating a thorough, narrative based note after every session can be time consuming. With NoteGenerator, just enter fractions for the programs you ran, and instances of behaviors targeted for decrease. Hit generate at the bottom and you've instantly got a unique and complete note for any session. This technology is a precursor to our more robust data collection system currently in development. In the future, your note will be dynamically generated as you take your data, along with automatic graphing.
